<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>DBSCAN</title>
    <link type="text/css" rel="stylesheet" href="{% static 'app/css/index.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'app/css/table_styles.css' %}">
</head>
<body style="background-repeat: no-repeat;
        background-size: cover;background-image: url('{% static 'app/images/background.jpg' %}');">


<div class="log_out1" style="top: 1%;left: 1%;">
    <a href="{% url 'logout' %}">Выйти</a>
</div>
<div class="log_out1" style="top: 1%;right: 1%;background-color: blueviolet">
    <a href="{% url 'main' %}">Очистка документов</a>
</div>
{% if request.user.is_authenticated %}

    {% if file_obj %}
        <div class="general" style="display: flex;background: rgba(255, 255, 255, .8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);justify-content: space-around">
            <div style="max-height: 700px;overflow: auto;margin: 5px;padding: 5px;display: flex; flex-direction: column;">
                <div id="my_dataviz" style="width: 500px;height: 500px">
                </div>

                <div class="my_form" style="margin-top: 20px">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Загрузить csv файл</button>
                    </form>

                </div>
            </div>

            <div style="max-height: 800px;overflow: auto;margin: 5px;min-width: 400px" id="tables"></div>
        </div>
    {% else %}

        <div class="my_form" style="margin-top: 20px">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Загрузить csv файл</button>
            </form>

        </div>


    {% endif %}



    <script src="https://cdn.plot.ly/plotly-2.20.0.min.js" charset="utf-8"></script>
    <script>
        var points =
        {{ points }}

        var data = points.map(function (item) {
            return {
                x: item[0], y: item[1], z: item[2],
                mode: 'markers',
                marker: {
                    opacity: 0.8
                },
                type: 'scatter3d'
            }
        });
        var layout = {
            margin: {
                l: 0,
                r: 0,
                b: 0,
                t: 0
            }
        };
        Plotly.newPlot('my_dataviz', data, layout);

        function createTable(tableHeads, tableData) {
            var table = document.createElement('table');
            var tableHead = document.createElement('thead');
            var tableBody = document.createElement('tbody');

            var row = document.createElement('tr');

            tableHeads.forEach(function (head) {
                var cell = document.createElement('th');
                cell.appendChild(document.createTextNode(head));
                row.appendChild(cell);
            });

            tableHead.appendChild(row);

            table.appendChild(tableHead);

            tableData.forEach(function (rowData) {
                var row = document.createElement('tr');

                rowData.forEach(function (cellData) {
                    var cell = document.createElement('td');
                    cell.appendChild(document.createTextNode(cellData));
                    row.appendChild(cell);
                });

                tableBody.appendChild(row);
            });

            table.appendChild(tableBody);
            return table;
        }

        var table_div = document.getElementById("tables");


        for (let i = 0; i < points.length; i++) {
            table_div.appendChild(document.createTextNode("Класс(trace) - " + i));
            let tableData = [];
            for (let index = 0; index < points[i][0].length; index++) {
                tableData.push([points[i][0][index], points[i][1][index], points[i][2][index]])
            }
            table_div.appendChild(createTable(["x", "y", "z"], tableData));
        }


    </script>

{% else %}

    <div>
        <h5>Для использования сервиса необходимо войти в систему!</h5>
    </div>

{% endif %}

</body>
</html>