<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'app/css/entry.css' %}">
</head>
<body>
<div style="background-image: url('{% static 'app/images/background.jpg' %}');" class="auth_body">
    <div class="auth_area">
        <h1 style="text-align: center; font-size: 40px;margin-bottom: 10px">{{ title }}</h1>
        <div class="my_form">
            <form method="post">
                {% csrf_token %}
                {% for f in form %}
                    <span><label  for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</span>
                    <div >{{ f.errors }}</div>

                {% endfor %}
                <button type="submit">Зарегистрироваться!</button>
            </form>
        </div>

        <div style="margin-top: 10px; display:flex;justify-content: center">
            <button><a href="{% url 'ath' %}">Вернуться на страницу авторизации</a></button>
        </div>
    </div>


</div>

</body>
</html>